{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dados de Bloco
{% endblock title %}


<!-- <div class="row my-5">
    <div class="col text-center">
        <a href="{% url 'app:blocodata_create' %}" class="btn btn-secondary btn-lg">+ Inserir dado</a>
    </div>
</div> -->


{% block content %}
    <h1>Dados de Blocos</h1>
    {% if page_obj %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Usina</th>
                    <th scope="col">Data</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Piezo M</th>
                    <th scope="col">Piezo I</th>
                    <th scope="col">Piezo J</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for bloco_data in page_obj %}
                <tr>
                    <td>{{ bloco_data.bloco }}</td>
                    <td>{{ bloco_data.data|date:"d/m/y H:i" }}</td>
                    <td>{{ bloco_data.nr|floatformat:2 }}</td>
                    <td>{{ bloco_data.pzm|floatformat:2 }}</td>
                    <td>{{ bloco_data.pzi|floatformat:2 }}</td>
                    <td>{{ bloco_data.pzj|floatformat:2 }}</td>
                    <td>
                        <a href="{% url 'app:blocodata_detail' bloco_data.id %}">
                            <span data-feather="eye"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'app:blocodata_duplicate' bloco_data.id %}">
                            <span data-feather="copy"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
    
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">
                        <span data-feather="chevrons-left"></span>
                    </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                    <span aria-hidden="true">
                        <span data-feather="chevron-left"></span>
                    </span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="First">
                    <span aria-hidden="true">
                        <span data-feather="chevrons-left"></span>
                    </span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">
                        <span data-feather="chevron-left"></span>
                    </span>
                </a>
            </li>
            {% endif %}
    
            <li class="page-item active" aria-current="page">
                <a class="page-link">
                    Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </a>
            </li>
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="First">
                    <span aria-hidden="true">
                        <span data-feather="chevron-right"></span>
                    </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    <span aria-hidden="true">
                        <span data-feather="chevrons-right"></span>
                    </span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="First">
                    <span aria-hidden="true">
                        <span data-feather="chevron-right"></span>
                    </span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">
                        <span data-feather="chevrons-right"></span>
                    </span>
                </a>
            </li>
            {% endif %}
    
        </ul>
    </nav>



    {% else %}
        <h1>Não há blocos de dados cadastrados</h1>
        <p class="lead">
            <a href="{% url 'app:blocodata_create' %}">Clique aqui </a>
            para criar novo dado de bloco.
        </p>
    {% endif %}

{% endblock content %}