{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="{% url 'app:plot_data' %}" method="get">
        {{ plot_form | crispy }}
        <div class="row" style="margin-top: 1.5rem; margin-bottom: 3rem;">
            <div class="col text-center">
                <input class="btn btn-dark" type="submit" value="Plot Dados">
            </div>
        </div>
    </form>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#id_data_initial, #id_data_final").datetimepicker({
                format: 'd/m/Y H:i',

            });
        });
    </script>
    <!-- <script>
        $("#id_usina").change(function () {
            var url = $("#plotForm").attr("data-blocos-url");  // get the url of the `load_cities` view
            var usinaId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'usina': usinaId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_bloco").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script> -->
{% endblock script %}
    
