{% extends 'base.html' %}
{% load static %}

{% block title %}
    Usinas
{% endblock title %}

{% block content %}
    <div class="card-deck">
        {% for usina in all_usinas_list %}
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-thumbnail"src="{% static 'app/img/dam-default.png' %}" alt="Usina {{usina.nome}}">
                <div class="card-body justify-content-center">
                    <h5 class="card-title">{{ usina.nome }}</h5>
                    <p class="card-text">
                        {{ usina.descricao }}
                    </p>
                    <a href="{% url 'app:usina_delete' usina.id %}" class="btn btn-danger mt-auto">Deletar</a>
                    <a href="{% url 'app:usina_detail' usina.id %}" class="btn btn-secondary mt-auto">Editar</a>
                    <a href="{% url 'app:usina_duplicate' usina.id%}" class="btn btn-secondary mt-auto">Duplicar</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row my-5">
        <div class="col text-center">
            <a href="{% url 'app:usina_create' %}" class="btn btn-secondary btn-lg">+ Nova Usina</a>
        </div>
    </div>

{% endblock content %}
