{% extends 'base.html' %}
{% load static %}


{% block title %}
    BundleData / Delete    
{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form action="" method="post">
            {% csrf_token %}
            <p class="lead">
                Deseja realmente apagar o pacote {{ bundle_data }}?
            </p>
            <input class="btn btn-danger mx-auto my-4" type="submit" value="Confirmar">
        </form>
    </div>
{% endblock content %}
